<div class="main">
  <div class="container">
    
    <div class="nomeApp">
      <div><h1>Trabalho de Engenharia de Software</h1></div>
      <div class="tituloApp">BigHash</div>
    </div>
    
    <p>Fábio Heiji Yamada	5690618</p>
    <p>Vitor Martins Cruz	11845410</p>
    <p>Fábio Santos	11795505</p>
    <p>Matheus Aranha Lopes	11221219</p>
    <p>Wallace Ramon Nogueira Soares 11847030</p>
    <p>Thais Lasso Terense</p>
  </div>
</div>